.dashboard-container {
  border-radius: 0.5rem;
}

.header-container {
  display: flex;
  justify-content: space-between;/* Pushes items to opposite ends */
  align-items: center; 
  width: 100%;
  height: auto; 
  background-color: var(--header-color);
  padding: 46px;
}

.header-container .welcome-title {
  text-align: start;
  font-size: 3em;
  color: #fff;
  font-weight: 500;
}

.header-container .search-input {
  margin-right: 300px;
  background: #f1f5f9;
  font-size: 1.5em;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 8px;
  color: var(--body-color);
  font-family: var(--global-font);
}

.search-input::placeholder {
  color: #aaa;
}

.principal-div {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: space-between;
}

table {
  border-collapse: separate; /* Collapses borders between cells */
  margin-bottom: 20px;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 15px;
  font-size: 20px;
}

table thead {
  background-color: rgb(235, 235, 235);
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

th, td {
  padding: 10px;
  border-left: 0;
}
